
<h4><p>Welcome to Core with Angular. Please select the tool that you want to continue with.</p></h4>

<div class="container">
  <div style="width: 33.33%">
    <a href="http://google.com/" target="_blank">
      <img class="img-responsive" src="../../assets/images/circle.png" style="height: 100px; width: 175px;">
    </a>
  </div>
  <!--<div style="width: 33.33%;">
    <a href="http://google.com/">
      <img class="img-responsive" src="../../assets/images/TC.png" style="height: 100px; width: 175px;">
    </a>
  </div>
  <div style="width: 33.33%">
    <a href="http://google.com/">
      <img class="img-responsive" src="../../assets/images/TC.png" style="height: 100px; width: 175px;">
    </a>
  </div>-->
</div>
